
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 145 70% 90%;
    --foreground: 142 84% 15%;

    --card: 145 30% 94%;
    --card-foreground: 142 84% 15%;

    --popover: 145 30% 94%;
    --popover-foreground: 142 84% 15%;

    --primary: 142 76% 22%;
    --primary-foreground: 0 0% 100%;

    --secondary: 145 50% 75%;
    --secondary-foreground: 142 84% 20%;

    --muted: 142 20% 90%;
    --muted-foreground: 142 30% 30%;

    --accent: 45 100% 65%;
    --accent-foreground: 142 84% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 30% 80%;
    --input: 142 30% 80%;
    --ring: 142 76% 22%;

    --radius: 1rem;

    --sidebar-background: 142 76% 22%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 142 60% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 142 30% 85%;
    --sidebar-accent-foreground: 142 84% 15%;
    --sidebar-border: 142 50% 30%;
    --sidebar-ring: 142 76% 40%;
  }

  .dark {
    --background: 142 76% 15%;
    --foreground: 0 0% 98%;

    --card: 142 50% 25%;
    --card-foreground: 0 0% 98%;

    --popover: 142 76% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 142 76% 15%;

    --secondary: 142 50% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 142 50% 25%;
    --muted-foreground: 142 10% 80%;

    --accent: 45 100% 65%;
    --accent-foreground: 142 76% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 142 50% 30%;
    --input: 142 50% 30%;
    --ring: 142 20% 70%;

    --sidebar-background: 142 76% 15%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 142 60% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 142 50% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 142 50% 30%;
    --sidebar-ring: 142 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-sanpedro-green text-white;
  }
}

.hazard-card {
  @apply bg-sanpedro-green-light text-sanpedro-text-dark rounded-2xl p-4 mb-4;
}

.tips-button {
  @apply text-sanpedro-text-dark flex items-center justify-end text-sm font-semibold;
}

.menu-button {
  @apply w-full bg-white text-sanpedro-text-dark text-left px-4 py-2 rounded-md border border-white mb-2 font-medium;
}
